<div class="row">
  <div class="small-12 medium-4 columns">
    <div class="section">
      <%= image_tag "killer_android_logo.jpg", class: "not-rounded" %>
      <h4>REST APIs and Android Apps</h4>
      <p>I presented on using REST APIs in Android apps at the January 12th, 2016 Killer Android meetup.</p>
      <p><%= link_to "Meetup Page", "http://meetup.com/Killer-Android/events/226477403" %></p>
      <p><%= link_to "Slides", "REST_Presentation.odp" %></p>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="section">
      <%= image_tag "cosplay_companion_logo.png", class: "not-rounded" %>
      <h4>Cosplay Companion</h4>
      <p>Ever wonder when your favorite photo shoot is going to be at a convention you are at but don't have an easy way to locate that information?  Look no further, with Cosplay Companion, you can have a central location for finding out information about photo shoots at every convention you go to.</p>
      <p>Currently in development, this project includes both a website and an Android application.  For more information feel free to look in my <%= link_to "portfolio", portfolio_path %>.</p>
    </div>
  </div>

  <div class="small-12 medium-4 columns">
    <div class="section">
      <%= image_tag "wallpaper_helper_logo.png" %>
      <h4>Wallpaper Helper</h4>
      <p>This live wallpaper will allow you to greater control over what wallpaper is displayed for different orientations for your Android device.</p>
      <p>With this you can choose different images for landscape and portrait modes.  As well as scale and crop your image.</p>
      <p>In order for this live wallpaper to fully function, you must have a launcher that supports both portrait and landscape modes.</p>
      <%= link_to "https://play.google.com/store/apps/details?id=com.jamessimshaw.wallpaperhelper" do %>
        <img class="google-play" alt="Get it on Google Play"
             src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
      <% end %>  
    </div>
  </div>
</div>
