<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "James Simshaw" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar hide-for-medium-up">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">James Simshaw</h1>
          </section>
        </nav>

        <div class="contain-to-grid show-for-medium-up">
          <nav class="top-bar" aria-hidden="true" data-topbar role="navigation">
            <ul class="title-area">
              <li class="name">
                <h1><%= link_to "James Simshaw", home_path %></h1>
              </li>
            </ul>

            <section class="top-bar-section">
              <ul class="right">
                <li><%= link_to "Home", home_path %></li>
                <li><%= link_to "Portfolio", portfolio_path %></li>
                <li><%= link_to "About Me", about_path %></li>
              </ul>
            </section>
          </nav>
        </div>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Portfolio", portfolio_path %></li>
            <li><%= link_to "About Me", about_path %></li>
          </ul>
        </aside>

        <section class="main-section">
          <div class="row main-content">
            <div class="small-12 columns">
              <%= yield %>
              <%= render "footer" %>
            </div>
          </div>
        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div>

  </body>
</html>
